In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn
from sklearn.ensemble import RandomForestClassifier
import math
from sklearn.model_selection import train_test_split

In [2]:
train_dataset = pd.read_csv("energy_train.csv")
test_dataset = pd.read_csv("energy_test.csv")

train_dataset = train_dataset.set_index("id")
test_dataset = test_dataset.set_index("id")
train_dataset.dropna(axis=0,  inplace=True)

In [3]:
train_dataset.columns = ['Date','WattHour', 'Lumin','D1','M1','D2','M2','D3','M3','D4','M4','D5','M5','D6','M6','D7','M7','D8','M8','D9','M9','D_Cout','Pressure','M_Cout','Wind','Clarity','Dew','R1','R2']

test_dataset.columns = ['Date', 'Lumin','D1','M1','D2','M2','D3','M3','D4','M4','D5','M5','D6','M6','D7','M7','D8','M8','D9','M9','D_Cout','Pressure','M_Cout','Wind','Clarity','Dew','R1','R2']

In [ ]:
train_dataset['X'] = train_dataset['Lumin'] + train_dataset['D1'] + train_dataset['M1'] + train_dataset['D2'] + train_dataset['M2'] +train_dataset['D3'] + train_dataset['M3'] + train_dataset['D4'] + train_dataset['M4'] + train_dataset['D5'] + train_dataset['M5'] +train_dataset['D6'] +train_dataset['M6'] +train_dataset['D7'] +train_dataset['M7'] +train_dataset['D8'] +train_dataset['M8'] +train_dataset['D9'] +train_dataset['M9'] +train_dataset['D_Cout'] + train_dataset['Pressure'] +train_dataset['M_Cout'] +train_dataset['Wind'] +train_dataset['Clarity'] +train_dataset['Dew'] +train_dataset['R1'] +train_dataset['R2']

In [ ]:
test_dataset['X'] = test_dataset['Lumin'] + test_dataset['D1'] + test_dataset['M1'] + test_dataset['D2'] + train_dataset['M2'] +train_dataset['D3'] + train_dataset['M3'] + train_dataset['D4'] + train_dataset['M4'] + train_dataset['D5'] + train_dataset['M5'] +train_dataset['D6'] +train_dataset['M6'] +train_dataset['D7'] +train_dataset['M7'] +train_dataset['D8'] +train_dataset['M8'] +train_dataset['D9'] +train_dataset['M9'] +train_dataset['D_Cout'] + train_dataset['Pressure'] +train_dataset['M_Cout'] +train_dataset['Wind'] +train_dataset['Clarity'] +train_dataset['Dew'] +train_dataset['R1'] +train_dataset['R2']

In [4]:
train_dataset.dropna(axis=0,inplace=True)
train_dataset['Lumin'] = train_dataset['Lumin'].astype(float)
test_dataset['Lumin'] = test_dataset['Lumin'].astype(float)
train_dataset.round(decimals=2)
test_dataset.round(decimals=2)
np.nan_to_num(train_dataset)
np.nan_to_num(test_dataset)
train_dataset.fillna("bfill")
test_dataset.fillna("bfill")
test_dataset

,Date,Lumin,D1,M1,D2,M2,D3,M3,D4,M4,...,D9,M9,D_Cout,Pressure,M_Cout,Wind,Clarity,Dew,R1,R2
id,,,,,,,,,,,,,,,,,,,,,
15001,2016-04-24 21:00:00,0.0,21.926667,35.500000,19.290000,37.500000,22.390000,34.000000,21.390000,32.225714,...,20.200000,NaN,4.100000,758.000000,82.000000,3.0,40.000000,1.200000,10.668196,10.668196
15002,2016-04-24 21:10:00,0.0,21.890000,35.400000,19.222500,37.425000,22.390000,34.090000,21.350000,32.200000,...,20.200000,32.400000,3.950000,758.050000,82.166667,3.0,40.000000,1.100000,48.467852,48.467852
15003,2016-04-24 21:20:00,0.0,21.890000,35.400000,19.200000,37.466667,22.390000,33.963333,21.290000,32.277143,...,20.200000,32.290000,3.800000,758.100000,82.333333,3.0,40.000000,1.000000,36.388536,36.388536
15004,2016-04-24 21:30:00,0.0,21.890000,35.400000,19.100000,37.590000,22.390000,33.900000,21.290000,32.334000,...,20.175000,32.290000,3.650000,758.150000,82.500000,3.0,40.000000,0.900000,17.198176,17.198176
15005,2016-04-24 21:40:00,0.0,21.890000,35.400000,19.100000,37.590000,22.390000,33.966667,21.290000,32.290000,...,20.166667,32.563333,3.500000,758.200000,82.666667,3.0,40.000000,0.800000,7.200588,7.200588
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19371,2016-05-25 05:20:00,10.0,23.600000,40.833333,20.856667,43.566667,25.260000,39.266667,23.500000,39.000000,...,22.600000,44.790000,6.166667,757.133333,95.000000,1.0,24.666667,5.433333,43.792662,43.792662
19372,2016-05-25 05:30:00,0.0,23.666667,40.566667,20.790000,43.700000,25.133333,38.666667,23.500000,38.933333,...,22.600000,44.760000,6.150000,757.100000,95.500000,1.0,24.500000,5.500000,22.151890,22.151890
19373,2016-05-25 05:40:00,0.0,23.600000,40.093333,20.700000,43.296667,24.963333,37.833333,23.463333,38.563333,...,22.600000,44.760000,6.133333,757.066667,96.000000,1.0,24.333333,5.566667,5.759009,5.759009
19374,2016-05-25 05:50:00,0.0,23.600000,39.426667,20.633333,42.830000,24.823333,37.566667,23.390000,38.096667,...,22.600000,44.700000,6.116667,757.033333,96.500000,1.0,24.166667,5.633333,13.711184,13.711184
19375,2016-05-25 06:00:00,0.0,23.600000,39.026667,20.600000,42.333333,24.760000,36.930000,23.390000,38.000000,...,22.600000,44.626667,6.100000,757.000000,97.000000,1.0,24.000000,5.700000,45.858992,45.858992

In [5]:
train_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6493 entries, 1 to 14997
Data columns (total 29 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      6493 non-null   object
 1   WattHour  6493 non-null   int64
 2   Lumin     6493 non-null   float64
 3   D1        6493 non-null   float64
 4   M1        6493 non-null   float64
 5   D2        6493 non-null   float64
 6   M2        6493 non-null   float64
 7   D3        6493 non-null   float64
 8   M3        6493 non-null   float64
 9   D4        6493 non-null   float64
 10  M4        6493 non-null   float64
 11  D5        6493 non-null   float64
 12  M5        6493 non-null   float64
 13  D6        6493 non-null   float64
 14  M6        6493 non-null   float64
 15  D7        6493 non-null   float64
 16  M7        6493 non-null   float64
 17  D8        6493 non-null   float64
 18  M8        6493 non-null   float64
 19  D9        6493 non-null   float64
 20  M9        6493 non-null   float64
 21  D_Cout    6493 non-null   float64
 22  Pressure  6493 non-null   float64
 23  M_Cout    6493 non-null   float64
 24  Wind      6493 non-null   float64
 25  Clarity   6493 non-null   float64
 26  Dew       6493 non-null   float64
 27  R1        6493 non-null   float64
 28  R2        6493 non-null   float64
dtypes: float64(27), int64(1), object(1)
memory usage: 1.5+ MB

In [6]:
test_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4375 entries, 15001 to 19375
Data columns (total 28 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      4375 non-null   object
 1   Lumin     4375 non-null   float64
 2   D1        4375 non-null   float64
 3   M1        4375 non-null   float64
 4   D2        4375 non-null   float64
 5   M2        4375 non-null   float64
 6   D3        4375 non-null   float64
 7   M3        4375 non-null   float64
 8   D4        4375 non-null   float64
 9   M4        4375 non-null   float64
 10  D5        4375 non-null   float64
 11  M5        4375 non-null   float64
 12  D6        4375 non-null   float64
 13  M6        4375 non-null   float64
 14  D7        4375 non-null   float64
 15  M7        4375 non-null   float64
 16  D8        4375 non-null   float64
 17  M8        4375 non-null   float64
 18  D9        4375 non-null   float64
 19  M9        4374 non-null   float64
 20  D_Cout    4375 non-null   float64
 21  Pressure  4375 non-null   float64
 22  M_Cout    4375 non-null   float64
 23  Wind      4375 non-null   float64
 24  Clarity   4375 non-null   float64
 25  Dew       4375 non-null   float64
 26  R1        4375 non-null   float64
 27  R2        4375 non-null   float64
dtypes: float64(27), object(1)
memory usage: 991.2+ KB

In [7]:
X = train_dataset.drop(['WattHour','Date','Lumin','R1','R2','D1','M1','D2','M2','D3','M3','D5','M5'], axis=1)
y = train_dataset["WattHour"]

In [8]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X = sc_X.fit_transform(X)
y = sc_X.fit_transform(y)

ValueError: Expected 2D array, got 1D array instead:
array=[ 60.  60.  50. ... 120. 110. 110.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [ ]:



from sklearn.model_selection import train_test_split
# here I used 20% data for test_data and 80% as train_data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

sc_y = StandardScaler()
y_train = y_train.reshape((len(y_train), 1))
y_train = sc_y.fit_transform(y_train)
y_train = y_train.ravel()

In [ ]:
from sklearn.svm import SVR
regressor = RandomForestClassifier(n_estimators=200,criterion="entropy")

In [ ]:
from sklearn import preprocessing
from sklearn import utils

lab_enc = preprocessing.LabelEncoder()
encoded = lab_enc.fit_transform(y_train)


regressor.fit(X_train, encoded)

In [ ]:
encoded = lab_enc.fit_transform(y_test)
y_pred = regressor.predict(X_test)
# Printing the R^2 score
regressor.score(X_test, encoded)

In [ ]:
from sklearn.metrics import mean_absolute_error

from sklearn.metrics import mean_squared_error
from math import sqrt

rms = sqrt(mean_squared_error(y_test, y_pred))
print("Mean squared error:", rms)

In [ ]:
encoded = lab_enc.fit_transform(y)

regressor.fit(X, encoded)

In [ ]:
X = np.nan_to_num(test_dataset.drop(['Date','Lumin','R1','R2','D1','M1','D2','M2','D3','M3','D5','M5'], axis=1))
y_pred = regressor.predict(X)
y_pred = y_pred.astype(int)

In [ ]:
y = pd.DataFrame({"WattHour":y_pred})

In [ ]:
y.head()

In [ ]:
y.to_csv("aborules.csv",index=False)