In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("test.csv")

In [3]:
df

     Unnamed: 0                                   Filename         Text
0             0  TCFCD0202000010454830_M_pdf-1_account.jpg  3.48801E+13
1             1     TCFCD0202000010454830_M_pdf-1_ifsc.jpg  BARB0PARIVA
2             2     TCFCD0202000010454830_M_pdf-1_micr.jpg    390012060
3             3  TCFCD0202000010515086_M_pdf-1_account.jpg   5.6501E+14
4             4     TCFCD0202000010515086_M_pdf-1_ifsc.jpg  UTIB0000565
..          ...                                        ...          ...
923         923                                     73.jpg  85047433438
924         924                                     74.jpg   9.1401E+14
925         925                                     75.jpg   9.1701E+14
926         926                                      8.jpg  85047433438
927         927                                      9.jpg   9.1401E+14

[928 rows x 3 columns]

In [4]:
df["loc"] = "public_test_crops/" + df["Filename"] + " " + df["Text"]

In [5]:
df

,Unnamed: 0,Filename,Text,loc
0,0,TCFCD0202000010454830_M_pdf-1_account.jpg,3.48801E+13,public_test_crops/TCFCD0202000010454830_M_pdf-...
1,1,TCFCD0202000010454830_M_pdf-1_ifsc.jpg,BARB0PARIVA,public_test_crops/TCFCD0202000010454830_M_pdf-...
2,2,TCFCD0202000010454830_M_pdf-1_micr.jpg,390012060,public_test_crops/TCFCD0202000010454830_M_pdf-...
3,3,TCFCD0202000010515086_M_pdf-1_account.jpg,5.6501E+14,public_test_crops/TCFCD0202000010515086_M_pdf-...
4,4,TCFCD0202000010515086_M_pdf-1_ifsc.jpg,UTIB0000565,public_test_crops/TCFCD0202000010515086_M_pdf-...
...,...,...,...,...
923,923,73.jpg,85047433438,public_test_crops/73.jpg 85047433438
924,924,74.jpg,9.1401E+14,public_test_crops/74.jpg 9.1401E+14
925,925,75.jpg,9.1701E+14,public_test_crops/75.jpg 9.1701E+14
926,926,8.jpg,85047433438,public_test_crops/8.jpg 85047433438
927,927,9.jpg,9.1401E+14,public_test_crops/9.jpg 9.1401E+14

In [6]:
df = df.drop(columns = ["Unnamed: 0", "Filename","Text"])

In [7]:
df

                                                   loc
0    public_test_crops/TCFCD0202000010454830_M_pdf-...
1    public_test_crops/TCFCD0202000010454830_M_pdf-...
2    public_test_crops/TCFCD0202000010454830_M_pdf-...
3    public_test_crops/TCFCD0202000010515086_M_pdf-...
4    public_test_crops/TCFCD0202000010515086_M_pdf-...
..                                                 ...
923               public_test_crops/73.jpg 85047433438
924                public_test_crops/74.jpg 9.1401E+14
925                public_test_crops/75.jpg 9.1701E+14
926                public_test_crops/8.jpg 85047433438
927                 public_test_crops/9.jpg 9.1401E+14

[928 rows x 1 columns]

In [8]:
df.to_csv("ana.csv")